<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <style>
   {% block style_css %}{% endblock %}
  </style>
</head>
<body>
  <header> 
  	{% block encabezado %}{% endblock %}
  	<nav>
  		<dl>
			<dd><a href='/'>Inicio</h3></dd>
			<dd><a href='/usuarios'>Usuarios registrados</a></dd>
			<dd><a href='/recetas'>Recetas</a></dd>
			<dd><a href='/sobre'>Sobre</a></dd>
		</dl>
	</nav>
  </header>
  <section>
    {% block contenido %}{% endblock %}
  </section>
  {% block pie %}{% endblock %} 
</body>
</html>