{% extends "base.html" %}

{% load static %}

{% block content %}


<div class="row" style="padding-bottom: 2%; padding-top: 2%">
    <div class="col-md-6">
        <form method="get">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control" placeholder="Buscar" name="buscar" value="{{ request.GET.buscar }}">
                    <button type="submit" class="boton btn-succes">Buscar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
{% if productos %}
{% for producto in productos%}

    <div class="row">
        <div class="col-md-8">
            <img class="img-responsive" width="400" height="400"  src="{{ producto.imagen.url }}" />
        </div>
        <div class="col-md-8">
            <div class="row">
                <a href='producto/{{producto.id}}'>
                <h1>{{ producto.nombre }}</h1>
                </a>
            </div>
            <div class="row">
                <h2>{{ producto.precio }}</h2>
            </div>
        </div>
    </div>

{% endfor %}
{% else %}

<h1>No hay productos disponibles</h1>

{% endif %}

</div>





{% endblock %}