{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="row">
        <p style="text-align:center;">Aqui podrás encontrar un listado con todos los fabricantes que trabajan con nosotros:</p>
    </div>



    <div class="row">
            <div class="row">
                <ul>
                    {% for fabricante in fabricantes%}
                    <li class="fabricante">
                        <a href='{{fabricante.id}}' style="text-decoration:none; color: black; font-size:25px;">
                            {{ fabricante.nombre }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
    </div>



{% endblock %}