{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="border rounded p-4 m-4">
        <p class="display-4 pl-4 ml-4">Consulta tu pedido</p>

        

        <div class="row" style="padding-bottom: 2%; padding-top: 2%">
            <div class="col"></div>
            <div class="col-md-4">
                <form method="get" action="{% url 'seguimiento' %}">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control" placeholder="Buscar pedido por id" name="searchbarPedido"
                                value="{{ request.GET.buscar }}">
                            <button type="submit" class="btn btn-outline-dark">Buscar pedido</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>


        <table class="table">
            <caption>Seguimiento de pedidos</caption>
            <thead>
                <tr>
                    <th>ID Seguimiento</th>
                    <th>Estado</th>
                    <th>Fecha del pedido</th>
                    <th>Precio total</th>
                </tr>
            </thead>
            <tbody>
                {% if venta.precio %}
                <tr>
                    <td>{{venta.id}}</td>
                    <td>{{venta.estado}}</td>
                    <td>{{venta.creacion}}</td>
                    <td>{{venta.precio}} €</td>
                </tr>
                {% endif %}

            </tbody>

        </table>

    </div>
</div>





{% endblock %}