{% extends 'base.html' %}

{% block content %}
<div class="container">
   <div class="border rounded p-4 m-4">
        <p class="display-4 pl-4 ml-4">Consulta tu pedido</p>
        <hr>
        <nav class="barraPedido one-edge-shadow navbar navbar-light sticky-top navbar navbar-expand-lg text-black" style="background-color: transparent; 	width: 50%;">
        <form class="collapse navbar-collapse" id="navbarSupportedContent" method="GET">
      		<ul class="navbar-nav mr-auto">
				<li id="search-bar" class="col-lg-12">
        		  <input type="search" name="searchbarPedido" class="form-control" placeholder="Buscar pedido por id"/>
				</li>
				<li id="search-button">
		  			<input class="btn btn-primary" type="submit" value="Buscar Pedido"></input>
				</li>
     		</ul>
     	</form>
     	  </nav>


        <table class="table">
            <thead>
                <tr>
                    <th>ID Seguimiento</th>
                    <th>Estado</th>
                    <th>Fecha del pedido</th>
                    <th>Precio total</th>
                </tr>
            </thead>
            <tbody>
                {% if venta.precio %}
                <tr>
						<td>{{venta.id}}</td>
                        <td>{{venta.estado}}</td>
	                    <td>{{venta.creacion}}</td>
	                    <td>{{venta.precio}} €</td>
                </tr>
                {% endif %}
                           
            </tbody>

        </table>

   </div>
</div>





{% endblock %}